<?xml version='1.0' encoding='utf-8'?>
<widget id="nz.co.beweb.HHGTTG" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HHGTTG</name>
  <gap:plugin name="org.apache.cordova.media" />
    <description>
	Quotes from HHGTTG
    </description>
    <author email="jeremy@beweb.co.nz" href="http://beweb.co.nz">
        Beweb Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
